@charset "UTF-8";
@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("../fonts/MUSEOSANSCYRL_1.eot");
  src: local("☺"), url("../fonts/MUSEOSANSCYRL_1.woff") format("woff"), url("../fonts/MUSEOSANSCYRL_1.ttf") format("truetype"), url("../fonts/MUSEOSANSCYRL_1.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("../fonts/MUSEOSANSCYRL_2.eot");
  src: local("☺"), url("../fonts/MUSEOSANSCYRL_2.woff") format("woff"), url("../fonts/MUSEOSANSCYRL_2.ttf") format("truetype"), url("../fonts/MUSEOSANSCYRL_2.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("../fonts/MUSEOSANSCYRL_3.eot");
  src: local("☺"), url("../fonts/MUSEOSANSCYRL_3.woff") format("woff"), url("../fonts/MUSEOSANSCYRL_3.ttf") format("truetype"), url("../fonts/MUSEOSANSCYRL_3.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.paralax {
  position: absolute;
}

.image__1 {
  width: 100vw;
  height: 100vh;
}

.image__2 {
  margin-top: 20vh;
  width: 20vw;
  margin-left: 5vw;
}

.image__3 {
  width: 14vw;
  margin-left: 90vw;
}

.image__4 {
  position: absolute;
  bottom: 0;
}

.image__4 img {
  width: 100vw;
}

body {
  font-family: "Museo Sans Cyrl";
  overflow: hidden;
  font-size: 2vh;
  height: 100vh;
  color: #282828;
}

.wrapper {
  position: relative;
}

.container {
  width: 85vw;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5vh;
}

.img {
  width: 11vw;
}

.row__text {
  font-size: 1.6vh;
  max-width: 8.6vw;
  margin-left: -3vw;
  line-height: 2vh;
  letter-spacing: 0.07vw;
}

.row__map {
  max-width: 11vw;
  font-size: 2vh;
}

.row__map p:first-child {
  font-weight: 700;
  line-height: 2vh;
}

.row__map p:nth-child(2) {
  line-height: 4vh;
}
