@font-face {
   font-family: "Museo Sans Cyrl";
   src: url("../fonts/MUSEOSANSCYRL_1.eot");
   src: local("☺"), url("../fonts/MUSEOSANSCYRL_1.woff") format("woff"),
      url("../fonts/MUSEOSANSCYRL_1.ttf") format("truetype"), url("../fonts/MUSEOSANSCYRL_1.svg") format("svg");
   font-weight: 300;
   font-style: normal;
}

@font-face {
   font-family: "Museo Sans Cyrl";
   src: url("../fonts/MUSEOSANSCYRL_2.eot");
   src: local("☺"), url("../fonts/MUSEOSANSCYRL_2.woff") format("woff"),
      url("../fonts/MUSEOSANSCYRL_2.ttf") format("truetype"), url("../fonts/MUSEOSANSCYRL_2.svg") format("svg");
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: "Museo Sans Cyrl";
   src: url("../fonts/MUSEOSANSCYRL_3.eot");
   src: local("☺"), url("../fonts/MUSEOSANSCYRL_3.woff") format("woff"),
      url("../fonts/MUSEOSANSCYRL_3.ttf") format("truetype"), url("../fonts/MUSEOSANSCYRL_3.svg") format("svg");
   font-weight: 700;
   font-style: normal;
}
