
.ldsh {
   padding-top: 0.5vw;
   color: #f57e88;
   letter-spacing: 0.07vw;
   font-size: 0.85vw;
   border-bottom: 1px solid #f57e88;
   display: inline-block;
   position: relative;
   cursor: pointer;
    -webkit-transition: all 0.4s;
   -o-transition: all 0.4s;
   transition: all 0.4s;
   border: none !important;
}


.ldsh:before {
   content: '';
   position: absolute;
   top: 100%;
   width: 100%;
   border-bottom: 0.1vw dashed #f57e88;
   left: 0%;
   transition: all 0.4s;
}

.ldsh:hover:before{
   transition: all 0.4s;
   width: 50%;
   position: absolute;
   left: 25%;
} 




.map-header.active {
   -webkit-transform: translateX(-50%);
   -ms-transform: translateX(-50%);
   transform: translateX(-50%);
   opacity: 1;
   pointer-events: auto;
}

.map-header {
   position: absolute;
   width: 21vw;
   height: 17vw;
   background-color: #fff;
   -webkit-box-shadow: 3px 0 13px rgba(211, 211, 211, 0.11);
   box-shadow: 3px 0 13px rgba(211, 211, 211, 0.11);
   top: 12%;
   left: 45%;
   -webkit-transform: translateX(-50%);
   -ms-transform: translateX(-50%);
   transform: translateX(-50%);
   opacity: 0;
   pointer-events: none;
   -webkit-transition: all 0.4s;
   -o-transition: all 0.4s;
   transition: all 0.4s;
   z-index: 5;
}