body {
   font-family: "Museo Sans Cyrl";
   overflow: hidden;
   font-size: 1vw;
   height: 100vh;
   color: #282828;
   transition: all 0.4s;
}

.wrapper {
   position: relative;
   background-image: url("img/Слой_1.png");
}

.container {
   width: 85vw;
   margin: 0 auto;
}

.row {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 1vw;
}

.img__logo {
   width: 13vw;
}

.row__text {
   font-size: 0.7vw;
   max-width: 8.6vw;
   margin-left: -3vw;
   line-height: 1vw;
   letter-spacing: 0.07vw;
}

.row__map {
   display: flex;
   align-items: center;
   max-width: 17vw;
   font-size: 1vw;
   p:first-child {
      font-weight: 700;
      line-height: 1vw;
   }

   p:nth-child(2) {
      line-height: 1.4vw;
   }
}

.image__map {
   img {
      width: 4vw;
   }
}

.text__map {
   margin-left: 1vw;
}


.hover__map {
   color: #ff6078;
   text-decoration: underline;
   letter-spacing: 0.07vw;
}



.row__contacts {
   padding-left: 3vw;
}
.row__tel {
   position: relative;
   &::before {
      content: "";
      position: absolute;
      top: -0.06vw;
      left: -0.23vw;
      width: 0.9vw;
      height: 0.9vw;
      border: 0.2vw solid #27b24b;
      border-radius: 50%;
      animation: row__tel 1s linear infinite;
   }
   p {
      padding-left: 0.9vw;
      font-size: 0.7vw;
      letter-spacing: 0.08vw;
      line-height: 1vw;
      &::before {
         content: "";
         position: absolute;
         top: 0.21vw;
         left: -0.001vw;
         width: 0.4vw;
         height: 0.4vw;
         background: #27b24b;
         border-radius: 50%;
         box-shadow: 0 0 7vw rgba(79, 160, 55, 0.61);
      }
   }

   @keyframes row__tel {
      0% {
         transform: scale(0.5);
         opacity: 0;
      }
      50% {
         opacity: 1;
      }
      100% {
         transform: scale(1.2);
         opacity: 0;
      }
   }

   a {
      color: #282828;
      font-size: 1.5vw;
      line-height: 2vw;
      letter-spacing: 0.09vw;
   }
}

.image__contacts {
   width: 4vw;
   position: absolute;
   left: -3.5vw;
   bottom: -0.6vw;
}

.row__schedule {
   font-size: 1.1vw;
   line-height: 2.5vw;
   position: relative;
   font-weight: 700;
   span {
      margin-right: 0.3vw;
      font-weight: 300;
   }
}

.image__schedule {
   width: 4vw;
   position: absolute;
   left: -3.5vw;
   bottom: -1vw;
}

.row__botton {
   background-color: #fefcfb;
   box-shadow: 0vw 0.04vw 0.09vw 0vw #666;
   position: relative;
   border-radius: 5vw;
}
.btn {
   display: inline-block;
   padding: 1.1vw 1vw 1vw 2vw;
   color: #1f1d1d;
}

.image__botton {
   width: 1.1vw;
   position: absolute;
   top: 1vw;
   left: 0.5vw;
}
