.paralax{
   position: absolute;
}

.scene{
}

.image__1{
   width: 100vw;
   height: 100vh;
}


.image__2{
   margin-top: 15vw;
   width: 20vw;
   margin-left: 2vw;
}
.image__3{
   width: 14vw;
   margin-left:90vw;
}

.image__4{
   width: 14vw;
   margin-top: 25vw;
   margin-left: 50vw;
}

.image__5{
   position: absolute;
   bottom: 0;
   z-index: 2;
   img{
      width: 100vw;
      height: 13vh;
   }
}

.image__6{
   position: absolute;
   bottom: 0;
   right: 0;
   z-index: 0;
   img{
      width: 36vw;
   }
}