.paralax{
   position: absolute;
}

.scene{
}

.image__1{
   width: 100vw;
   height: 100vh;
}


.image__2{
   margin-top: 20vh;
   width: 20vw;
   margin-left: 5vw;
}
.image__3{
   width: 14vw;
   margin-left:90vw;
}

.image__4{
   position: absolute;
   bottom: 0;

   img{
      width: 100vw;
   }
}